#app-title > * {
    color: white;
    margin: 0;
    padding: 0;
}

#howto-open {
    white-space: nowrap;
}

#gh-link {
    white-space: nowrap;
}

.card {
    margin: 1em 0 1em 0;
    min-width: auto;
}

label {
  display: block;
  margin-bottom: 0;
}

.transparent-loader-wrapper > div {
    visibility: visible !important;
}

# To remove the up/down arrows of numerical dcc.input
.form-check {
    width: 100%;
 }

 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}